*{
    margin:0;
    padding:0;

}

ul{
    list-style-type: none;
}

.logo{
    max-width:5%
}
.logo-text{
    color:white;
    padding:.3em
}
.fa-magnifying-glass{
    color:white;
    padding: 0.3em;
    margin-left:5rem

}

.search-bar{
   margin-top:.4em
   
}

.nav-item-active{
    margin-left: 5rem;
}

.nav-item{
    margin-left:5rem
}


.big-tv-image{
    background-color:lightgray;
    display:flex;
    justify-content: center;
    padding:1%;
    margin-top:5%;
    margin-left:10rem
    
    
    
}
#big-tv{
    max-width:25rem;
    padding:10%;
}

.container{
   display:flex;
   position:relative;
   max-width:70%;
   justify-content: space-evenly;
}

.popular-items-ul{
    display:flex;
    margin-left: 3rem;
    background-color:lightgray;
    padding:5%;
    margin-top:10%;
    justify-content: space-evenly;
    flex-direction:row;
    max-width:65rem;
    
   
}

.popular-items{
   padding-right:15%
}

#tv1{
    max-width:15rem;
    padding:10%;
    
}
#tv2{
    max-width:20rem;
    padding:10%;
    
}
#tv3{
    max-width:20rem;
    padding:10%;
        
}
.popular-items-h3{
    margin-left:30px
}

.deal-of-day{
    max-width:40rem;
    padding:10%;
}

.deals{
    background-color:lightgray;
    display:flex;
    max-width:50rem;
    margin-left:1rem;
    margin-top:.3rem;
    
    
}

.item-description{
    background-color:lightgray;
    
}

.footer{
    display:flex;
    
}
.socialul{
    display:flex;
    
}

.fa-brands{
    padding:1rem;
    padding-top:1rem
    
}

.nav-item{
    padding-top:10px;
}

.fa-chevron-left{
    margin-top:10rem;
    width:5rem;
}
.right-arrow{
    margin-top:10rem;
    width:5rem;
}

.footer1{
    display:flex;
    justify-content: space-between;
}